
html, body {
    background-color: #1d2021;
    color: #fbf1c7;
    user-select: text;
    margin: 0; 
    padding: 8px;
}

hr {
    margin-bottom: 16px;
    color: #d4be98;
}

header pre {
    font-weight: bold; 
    text-align: center;
}

a {
    color: #52a4aa;
    text-decoration: none;
    font-size: inherit;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #cc241d;
}

code {
    padding: 12px;
    border-left: 2px solid #d4be98;
    border-right: 2px solid #d4be98;
    border-top: 2px dashed #d4be98;
    border-bottom: 2px dashed #d4be98;
    display: block;
}

.callout {
    border-left:3px solid #52a4aa;
    padding:8px 10px;
    color:#fbf1c7;
    margin:10px 0;
}

h3 {
    margin-bottom: 0;
}

div, span, p, time, li, h6 {
    color: #d4be98;
}

h6 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1, h2, h3, h4, h5 {
    color: #fbf1c7;
}

blockquote div, blockquote span, blockquote p {
    color: #fbf1c7;
}

header div, header span, header p {
    color: #fbf1c7;
}

footer div, footer span, footer p {
    color: #fbf1c7;
}

button, input, textarea {
    background-color: #1d2021;
    color: #d4be98;
    border: 1px solid #d4be98;
    padding: 8px 12px;
}

button {
    cursor: pointer;
}

form {
    margin: 16px 0; 
    display: flex; 
    flex-direction: column; 
    gap: 12px;
}

button:hover,
input:focus,
textarea:focus {
    background-color: #fbf1c7;
    color: #1d2021;
    border-color: #d4be98;
    outline: none;
}

details {
    margin-bottom: 8px;
    background-color: #1d2021;
    color: #fbf1c7;
}

summary {
    padding-left: 4px;
    cursor: pointer;
    background-color: #d4be98;
    color: #1d2021;
}

details[open] {
    border: 1px solid #fbf1c7;
}

details[open] > summary {
    cursor: pointer;
    background-color: #fbf1c7;
    color: #1d2021;
}

.pad-bottom {
    padding-top: 0.2em;
    padding-bottom: 0.8em;
}

/* Scrollbar styling for modern browsers */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #1d2021;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d4be98;
}

table {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    color: #d4be98;
}

th, td {
    padding: 8px;
    border: 1px solid #fbf1c7;
}

.right-align {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding-top: 16px;
    padding-right: 8px;
}

.left-align {
    display: flex; 
    align-items: center; 
    gap: 4px;
}

.color-swatch {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: width 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #000;
    border: 1px solid #fbf1c7;
}

.color-swatch span {
    opacity: 0;
    white-space: nowrap;
    transition: opacity .2s ease;
}

.color-swatch:hover {
    width: 100px;
}

.color-swatch:hover span {
    opacity: 1;
}